section.centerer
	section.mainSection
		h1.abrilTitle Me contacter :
		form.shadowBox.content(action='/contact', method='post', name='contactForm', id='contactForm')
			h3 Veuillez remplir le formulaire ci-dessous :
			br
			.formInline
				label(for='email') E-mail:
				br
				input.contactInput#email(name="email", required="required", type="email")
			.formInline
				label(for='name') NOM et Prénom:
				br
				input.contactInput#name(name="name", required="required", type="text")
			br
			br
			label(for='subject') Sujet/Objet:
			br
			input.contactInput#subject(name="subject", required="required", type="text")
			br
			br
			label(for='Content') Ecrivez ici:
			br
			textarea#content(name="content", form="contactForm", cols="38", rows="8", required="required")
			br
			br
			.g-recaptcha(data-sitekey="6LeLGg4TAAAAAFfE9VpumOcleSH2k8cJaadhXCCC")
			br
			input#contactSubmitButton(name="submit", value="Contacter", required="required", type="submit")