aside
	header
		a(href='/dashboard')
			h1= blogOwner.firstName
				br
				= blogOwner.lastName
			h3 Dashboard 2.0
	nav: ul
		- var n = 0 //- Looping trough the list of links (aside[])
		while n < aside.length
			li
				a(href= aside[n].link)= aside[n].text
				- n++
			br