doctype html
html
	head
		title Connect yourself
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/dashboard/main.css')
		link(rel='stylesheet', href='/stylesheets/dashboard/connect.css')
	body
		include connect/index