doctype html
html
	head
		title Dashboard
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/dashboard/main.css')
		link(rel='stylesheet', href='/stylesheets/dashboard/shop.css')
	body
		include assets/aside
		include shop/index