doctype html
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/contact.css')
		script(src='https://www.google.com/recaptcha/api.js')
	body
		include assets/aside
		include contact/contactForm