doctype html
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
	body
		h1= message
		h2= error.status
		pre #{error.stack}
