doctype html
html
	head
		title= article.title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/lightbox.css')
	body
		include lightbox/description
		include lightbox/pictures