doctype html
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/contact.css')
	body
		include assets/aside
		include contact/successfully_sent