section
	.forgetLine
	- var n = articles.length - 1 //- Looping trough the list of posts (articles[])
	while n >= 0
		a.box(href='/lightbox/' + articles[n].location, class= articles[n].clickable)
			img.shadowBox(src='/binaries/images/' + articles[n].cover.filename, alt= articles[n].cover.alt, height='400px')
			- n--