section {
	position: absolute;
	top: 0px;
	margin-left: 200px;
	padding-bottom: 30px;
}

section div {
	text-decoration: none;
	display: inline-block;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 0px;
}

.content {
	display: inline-block;
	height: 400px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 0px 0px 0px 25px;
}

.content h2 {
	font-weight: 300;
}

.content p span {
	font-weight: 400;
	font-style: italic;
}

.buttons {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	padding: inherit;
	margin: inherit;
}

.buttons a, .buttons span {
	padding: 15px 0 15px 0;
	display: inline-block;
	width: 50%;
	text-align: center;
	background: black;
	color: white;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	left: -65px;
}

.buttons a:hover {
	background: rgb(230, 230, 230);
	color: black;
	cursor: pointer;
}