.mainSection .content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	min-width: 500px;
	margin: 30px 15px 0px 15px;
	padding: 25px 0px 25px 25px;
}

h3, h4, h5, h6 {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h3 {
	margin: 0 0 0 0;
	font-size: 1.5em;
}


input, textarea {
	padding: 5px;
	border: 1px solid rgb(150, 150, 150);
	margin-right: 5px;
}

input:focus, textarea:focus {
	border-color: black;
	outline: none;
}

#contactSubmitButton {
	background: white;
	color: black;
	border: 1px solid black;
}

#contactSubmitButton:hover {
	color: white;
	background: black;
	border: 1px solid white;
}

.formInline {
	display: inline-block;
}