section {
	position: absolute;
	top: 0px;
	margin-left: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

section a {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	text-decoration: none;
	display: inline-block;
}

.forgetLine {
	position: fixed;
	bottom: 0px;
	height: 15%;
	width: 100%;
	z-index: 100000;
	background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.7) , rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top, rgba(255, 255, 255, 0.7) , rgba(255, 255, 255, 0)); /* Standard syntax */
}

#nonClick {
	cursor: default;
}