body {
	background: black;
}

.description {
	padding-left: 20px; 
	padding-bottom: 10px;
}

article h1, p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

article h1 {
	color: white;
	margin-top: 23px;
}

article p {
	color: rgb(230, 230, 230);
	font-size: 0.85em;
}

.pictures {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
}

.pictures img {
	margin-right: 30px;
	margin-bottom: 30px;
	max-height: 700px;
	max-width: 99%; 
	width: auto;
}