@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,100italic,100,400,400italic);

body {
	margin: 0;
}

aside {
	width: 200px;
	height: 100%;
	padding: 5px 5px 5px 5px;
}

header {
	padding-left: 30px;	
}

header a {
	text-decoration: none;
	color: black;
}

header a:visited {
	text-decoration: none;
	color: black;
}

header a h1 {
	font-family: 'Droid Serif', sans-serif;
	font-size: 2em;
	line-height: 36px;
	color: black;
	font-weight: 200;
}

nav ul {
	list-style-type: none;
}

nav ul li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: black;
	text-decoration: none;
	font-size: 0.8em;
}

nav ul li a:hover {
	text-decoration: underline;	
}

.noPosts {
	margin-left: 100px;
	margin-top: 300px;
}

.noPosts h2 {
	font-family: 'Roboto';
	font-weight: 300;
}

.abrilTitle {
	font-family: 'Droid Serif', sans-serif;
	display: block;
	text-align: center;
	width: ;
	font-size: 5em;
	margin-bottom: 50px;
}

.centerer {
	display: block;
	position: absolute;
	top: 0px;
	margin-left: 230px;
	text-align: center;
}

.mainSection {
	padding-bottom: 30px;
}

.content {
	display: inline-block;
	text-align: left;
	background: rgb(240, 240, 240);
	margin: 30px 15px 0px 15px;
	vertical-align: top;
	width: 600px;
	margin: 30px 15px 0px 15px;
	position: relative;
	font-weight: 300;
}

.shadowBox {
	position: relative;
	box-shadow: 0px 0px 0px rgb(190, 190, 190);
	transition-duration: 0.3s;
}

.shadowBox:hover {
	box-shadow: 15px 15px 50px rgb(230, 230, 230);
	transition-duration: 0.3s;
}