.content {
	height: 300px;
}

.mainSection article a {
	float: right;
}

.mainSection article div {
	display: block;
	width: 330px;
	position: absolute;
	padding-left: 25px;
	font-family: 'Roboto', sans-serif;
}

.mainSection article div h2 {
	font-weight: 300;
}

.mainSection article .buttons {
	display: flex;
	position: absolute;
	width: 390px;
	height: 50px;
	bottom: 0px;
	padding: inherit;
}

.mainSection article .buttons a, .mainSection article .buttons span {
	padding: 15px 0 15px 0;
	display: block;
	width: 50%;
	text-align: center;
	background: black;
	color: white;
	text-decoration: none;
}

.mainSection article .buttons a:hover {
	background: rgb(230, 230, 230);
	color: black;
	cursor: pointer;
}