section
	h2 Gérer
	a.buttonLink.dashboardTab(href='/dashboard/create/shop/') Nouvel objet
	a.buttonLink.dashboardTab(href='/dashboard/correct/shop/') Demander une correction
	br
	a.buttonLink.dashboardTab(href='/dashboard/export/shop/') Faire une sauvegarde
	a.buttonLink.dashboardTab(href='/dashboard/backup/shop/') Récupérer une sauvegarde
	h2 Objets en ligne
	table.dashboardTab
		- var n = onlines.length - 1 //- Looping trough the list of posts (onlines[])
		if n < 1
			h3.dashboardTab Il n'y a pas d'objets à vendre en ligne pour le moment.
		while n >= 0
			tr
				th.blackCell= n
				th= onlines[n].title
				th= onlines[n].date
				th= onlines[n].price
				th.tableLink: a(href='/dashboard/modify/shop/' + onlines[n].location) Modifier
				th.tableLink: a(href='/dashboard/delete/shop/' + onlines[n].location) Supprimer
				th.tableLink: a(href='/dashboard/putoffline/shop/' + onlines[n].location) Mettre hors ligne
				- n--
		
	h2 Objets hors ligne
	table.dashboardTab
		- var n = offlines.length - 1 //- Looping trough the list of posts (offlines[])
		if n < 1
			h3.dashboardTab Il n'y a pas d'objets à vendre hors ligne pour le moment.
		while n >= 0
			tr
				th.blackCell= n
				th= offlines[n].title
				th= offlines[n].date
				th= offlines[n].price
				th.tableLink: a(href='/dashboard/modify/shop/' + offlines[n].location) Modifier
				th.tableLink: a(href='/dashboard/delete/shop/' + offlines[n].location) Supprimer
				th.tableLink: a(href='/dashboard/putonline/shop/' + offlines[n].location) Mettre en ligne
				- n--
		