section
	h1.abrilTitle= item.name
	- var n = 0 //- Looping trough the list of posts (content[])
	while n < pictures.length
		div(href='/lightbox/' + pictures[n].location)
			img.shadowBox(src='/binaries/images/' + pictures[n].filename, alt= pictures[n].alt, height='400px')
			- n++
	div.shadowBox.content
		h2.tk-acta-poster= item.name
		p
			- var n = 1
			= description.content[0]
			br
			while n < description.content.length
				= description.separator
				br
				= description.content[n]
				br
				- n++
			br
			span Sur Paypal par Carte Bancaire ou paiement Paypal.
				br
				| Paiement sécurisé par Paypal.
		.buttons
			span.price=item.price + '€'
			a.buy(href='#') Paiement...