section
	h2 Création d'un article
	form.dashboardTab(action='/dashboard/make_new/article', method='post', id='articleForm', name='articleForm')
		label(for='title') Titre:
		br
		input#title(type='text', name='title' required)
		br
		label(for='location') Titre d'url:
		br
		input#location(type='text', name='location')
		br
		label(for='date') Date: (jj/mm/aaaa)
		br
		input#date(type='date', name='date')
		br
		label(for='description') Description: (Placer ' 下 ' à la fin de chaque ligne sauf la dernière)
		br
		textarea#description(form='articleForm', rows='10', cols='60', name='description')
		br
		label(for='cover') Nom du fichier de l'image de couverture:
		br
		input#cover(type='text', name='filename' required)
		br
		label(for='cover') Texte de la bulle:
		br
		input#cover(type='text', name='alt' required)
		br
		input#submit(type='submit', name='submit', value='Ajouter des images')
		input#submit(type='submit', name='submit', value='Sauvegarder')
