section
	h2 Gérer
	a.buttonLink.dashboardTab(href='/dashboard/create/articles/') Nouvel article
	a.buttonLink.dashboardTab(href='/dashboard/correct/articles/') Demander une correction
	br
	a.buttonLink.dashboardTab(href='/dashboard/export/articles/') Faire une sauvegarde
	a.buttonLink.dashboardTab(href='/dashboard/backup/articles/') Récupérer une sauvegarde
	h2 Articles en ligne
	table.dashboardTab
		- var n = onlines.length - 1 //- Looping trough the list of posts (onlines[])
		if n < 0
			h3.dashboardTab Il n'y a pas d'articles en ligne pour le moment.
		while n >= 0
			tr
				th.blackCell= n
				th= onlines[n].title
				th= onlines[n].date
				th.tableLink: a(href='/dashboard/modify/articles/' + onlines[n].location) Modifier
				th.tableLink: a(href='/dashboard/delete/articles/' + onlines[n].location) Supprimer
				th.tableLink: a(href='/dashboard/putoffline/articles/' + onlines[n].location) Mettre hors ligne
				- n--
		
	h2 Articles hors ligne
	table.dashboardTab
		- var n = offlines.length - 1 //- Looping trough the list of posts (offlines[])
		if n < 0
			h3.dashboardTab Il n'y a pas d'articles hors ligne pour le moment.
		while n >= 0
			tr
				th.blackCell= n
				th= offlines[n].title
				th= offlines[n].date
				th.tableLink: a(href='/dashboard/modify/articles/' + offlines[n].location) Modifier
				th.tableLink: a(href='/dashboard/delete/articles/' + offlines[n].location) Supprimer
				th.tableLink: a(href='/dashboard/putonline/articles/' + offlines[n].location) Mettre en ligne
				- n--
		