section.centerer
	section.mainSection
		h1.abrilTitle Magasin
		- var n = 0 //- Looping trough the list of posts (content[])
		while n < content.length
			article.shadowBox.content
				a(href='/shop/' + content[n].id)
					img(src='/binaries/images/' + content[n].cover.filename, height='300px', width='210px')
				div
					h2= content[n].name
					p= content[n].description
				.buttons
					span.price= content[n].price + '€'
					a.buy(href='/shop/' + content[n].id) Acheter
			-n++