section {
	position: absolute;
	top: 0px;
	margin-left: 200px;
	padding-top: 30px;
	padding-bottom: 30px;
}

section a {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	text-decoration: none;
	display: inline-block;
}

#nonClick {
	cursor: default;
}