@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,300,200italic,200);

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
}

aside {
	position: fixed;
	top: 0px;
	width: 200px;
	height: 100%;
	padding: 5px 5px 5px 5px;
	background: rgb(20, 20, 20);
}

header {
	padding-left: 30px;	
	padding-top: 30px;
	margin-bottom: 30px;
}

header a {
	text-decoration: none;
}

header a:visited {
	text-decoration: none;
}

header a h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 2em;
	line-height: 36px;
	font-weight: 300;
	margin: 0 0 0 0;
}

header a h3 {
	font-family: 'Roboto', sans-serif;
	color: rgb(230, 230, 230);
	font-size: 1em;
	font-weight: 200;
	margin: 0 0 0 0;
}

nav ul {
	list-style-type: none;
}

nav ul li a {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
	background: white;
}

section {
	margin-left: 200px;
	padding: 0 0 0 40px;
}

section h1 {
	font-size: 2.5em;
}

section h2 {
	font-size: 2em;
}

section h3 {
	font-size: 1.5em;
}

section .italic {
	font-style: italic;
}

section .underline {
	text-decoration: underline;
}

input, textarea {
	margin-bottom: 30px;
	margin-right: 20px;
}

input[type=text], input[type=date] {
	padding: 7px 7px 7px 7px;
	font-size: 1.2em;
}

textarea[id=description] {
	font-size: 0.85em;
	color: #E6E6E6;
	background: black;
	padding: 15px 15px 15px 15px;
	border: none;
}

input[type=submit] {
	padding: 10px 10px 10px 10px;
	background: white;
	color: black;
	border: 1px solid black;
	font-size: 1.3em;
	font-weight: 200;
}

input[type=submit]:hover {
	color: white;
	background: black;
	transition-duration: 0.1s;
}

input[type=submit]:active {
	background: rgb(40, 40, 40);
	transition-duration: 0.2s;
	color: white;
}

table {
	border-collapse: collapse;
}

table, tr, th {
	border: 1px solid rgb(200, 200, 200);
	padding: 10px 15px 10px 15px;
	text-align: left;
}

th a {
	text-decoration: none;
	font-style: italic;
	color: black;
}

th a:hover {
	text-decoration: underline;
}

.tiny {
	width: 100px;
}

.small {
	width: 200px;
}

.medium {
	width: 400px;
}

.blackCell {
	background: rgb(40, 40, 40);
	color: white;
	border-color: rgb(40, 40, 40);
}

.buttonLink {
	display: inline-block;
	font-size: 1.3em;
	font-weight: 200;
	color: black;
	text-decoration: none;
	background: white;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	margin: 15px 0px 15px 0px;
}

.buttonLink:hover {
	color: white;
	background: black;
	transition-duration: 0.1s;
}

.dashboardTab {
	margin-left: 30px;
}

.content {
	display: inline-block;
	text-align: left;
	background: rgb(240, 240, 240);
	margin: 30px 15px 0px 15px;
	vertical-align: top;
	width: 600px;
	margin: 30px 15px 0px 15px;
	position: relative;
	font-weight: 300;
}

.shadowBox {
	position: relative;
	box-shadow: 0px 0px 0px rgb(190, 190, 190);
	transition-duration: 0.3s;
}

.shadowBox:hover {
	box-shadow: 15px 15px 50px rgb(230, 230, 230);
	transition-duration: 0.3s;
}