section.description
	article
		h1= article.title
		p
			- var n = 1
			= article.description[0]
			br
			while n < article.description.length
				| ----------------------------
				br
				= article.description[n]
				br
				- n++