section
	h2 Connectez vous pour accéder à cette section
	form.dashboardTab(action='/dashboard/connect', method='post', id='connectForm', name='connectForm')
		label(for='password') Mot de passe:
		br
		input#password(type='password', name='password' required)
		br
		input#submit(type='submit', name='submit', value='Connection')