section
	h2 Messages non lus
	table.dashboardTab
		- var n = unread.length - 1 //- Looping trough the list of messages (unread[])
		if n < 0
			h3.dashboardTab Il n'y a pas de messages non-lus pour le moment.
		else	
			tr
				th.blackCell
				th Adresse mail
				th Nom et Prénom
				th Sujet
				th -
				th -
				th -
			while n >= 0
				tr
					th.blackCell= n
					th= unread[n].email
					th= unread[n].name
					th= unread[n].subject
					th.tableLink: a(href='/dashboard/read/messages/' + unread[n].location) Consulter
					th.tableLink.redCell: a(href='/dashboard/delete/messages/' + unread[n].location) Supprimer
					th.tableLink: a(href='/dashboard/putread/messages/' + unread[n].location) Marquer comme lu
					- n--
	h2 Messages lus
	table.dashboardTab
		- var n = read.length - 1 //- Looping trough the list of posts (read[])
		if n < 0
			h3.dashboardTab Il n'y a pas de messages sauvegardés.
		else
			tr
				th.blackCell
				th Adresse mail
				th Nom et Prénom
				th Sujet
				th -
				th -
				th -
			while n >= 0
				tr
					th.blackCell= n
					th= read[n].email
					th= read[n].name
					th= read[n].subject
					th.tableLink: a(href='/dashboard/read/messages/' + read[n].location) Consulter
					th.tableLink: a(href='/dashboard/delete/messages/' + read[n].location) Supprimer
					th.tableLink: a(href='/dashboard/putunread/messages/' + read[n].location) Marquer comme non-lu
					- n--