section
	h1.italic.underline= message.subject
	p
		strong.underline= message.name
		br
		strong= message.email
		br
		strong= message.date
		br
		strong Numéro unique: 
			=message.location
		br
	p.medium
		strong= message.content
	br
	a.buttonLink(href='/dashboard/delete/messages/' + message.location) Supprimer