aside
	header
		a(href='/'): h1= blogOwner.firstName
			br
			= blogOwner.lastName
	nav: ul
		- var n = 0 //- Looping trough the list of links (aside[])
		while n < aside.length
			li
				a(href= aside[n].link)= '- ' + aside[n].text
				- n++